{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}

 <h3>Gestione servizi <a href="{% url 'service_add'  %}"><button class="btn btn-default ">Aggiungi</button></a></h3>
<div class="avv-sidebar">
   
       {% if services_list %}
     <table class="table white"  style="width: 80%">
      
    {% for service in services_list %}
    
      <tr>
       <td><strong>{{service.name}}</strong></td>
       <td><a href="{% url 'service_detail' service.id %}"><button class="btn btn-default">Visualizza</button></a></td>
        <td><a href="{% url 'service_update' service.id %}"><button class="btn btn-default">Modifica</button></a></td>
        <td><a href="{% url 'service_delete' service.id %}"><button class="btn btn-default">Elimina</button></a></td>

      </tr>
      
    {% endfor %}
    </table>
{% else %}
    <p>No services are available.</p>
{% endif %}
</div>
  </div>
    <div class="col-md-7 avv-content">
    <h4><button class="btn activeItem">Aggiungi servizio</button> </h4>
    <div class="row">
        

{% if message %}<h4 class="text-success""><strong>{{ message }}</strong></h4>{% endif %}

<form class="form-horizontal" action="{% url 'service_add' %}" method="post">
  {% csrf_token %}
 <div class="form-group">
<div class="col-sm-2 col-sm-offset-8">
      <button type="submit" class="btn btn-lg btn-default"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> </button>
      <br><br>
    </div>

    <div class="col-sm-9 avv-sidebar-servizi">
<label for="name" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name"  placeholder="Nome del servizio" >
    </div>
<label for="name" class="col-sm-2 control-label">Tipo</label>
    <div class="col-sm-10">
      <select class="form-control"  name="service_type">
<option  value="Middleware"> Middleware</option>>
<option  value="Software"> Software</option>>
<option  value="Software"> Batch</option>>
      </select>
    </div>
<label for="name" class="col-sm-2 control-label">Descrizione</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="desc" name="desc"  placeholder="Descrizione" >
    </div>
<label for="documentation_url" class="col-sm-2 control-label">Doc URL</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="documentation_url" name="documentation_url"  placeholder="URL documentazione" >
    </div>
<label for="name" class="col-sm-2 control-label">Host</label>
    <div class="col-sm-10">
      <select class="form-control"  name="host">
{% for host in host_list %}
<option  value={{host.name}}> {{host.name}}
</option>
{% endfor %}
      </select>
    </div>
<label for="port" class="col-sm-2 control-label">Port</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="port" name="port"  placeholder="Port" >
    </div>
<label for="svn" class="col-sm-2 control-label">SVN</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="svn" name="svn"  placeholder="Repository SVN" >
    </div>
<label for="deploy" class="col-sm-2 control-label">Deploy</label>
    <div class="col-sm-10">
      <textarea class="form-control" id="deploy" name="deploy"  placeholder="Deploy command" ></textarea>
    </div>
<label for="user" class="col-sm-2 control-label">User</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="user" name="user"  placeholder="User" >
    </div>
<label for="start" class="col-sm-2 control-label">Start</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="start" name="start"  placeholder="link a documentazione stop" >
    </div>
<label for="stop" class="col-sm-2 control-label">Stop</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="stop" name="stop"  placeholder="link a documentazione start" >
    </div>
        
<label for="deps_by" class="col-sm-2 control-label">Dipendenze</label>   
 
    <div class="col-sm-5">
        <strong>Servizi da cui dipende</strong>
            <select class="form-control" multiple name="deps_by" size="15">
                {% for service in services_list %}
                <option  value={{service.name}}> {{service.name}}
                </option>
{% endfor %}
            </select>
       
    </div>
    <div class="col-sm-5">
          <strong>Servizi dipendenti</strong>
            <select class="form-control" multiple name="deps_to" size="15">
                {% for service in services_list %}
                <option  value={{service.name}}> {{service.name}}
                </option>
{% endfor %}
            </select>
       
    </div>
</div>   
    

  </div>
    </div>
</form>
      
    </div>
 
 
 
 
    
    
  </div>
</div>
    </div>
  {% endblock %}