{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    <div class="container">
        <div class="page-header">
        <h1 class="title">Documentazione Avvocatura: Aggiungi host</h1>
      </div>
    <div class="row">
  <div class="col-md-4 avv-sidebar">
       {% if services_list %}
    <ul>
    {% for host in host_list %}
        <li><a href="{% url 'host_update' host.id %}">{{host.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
  </div>
  <div class="col-md-8 avv-content">
    
    <div>
        <h1>Inserimento host</h1>

{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

<form class="form-horizontal" action="{% url 'host_add'  %}" method="post">
    

{% csrf_token %}
Nome: <input name="name" type="text"><br>
IP: <input name="ip" type="text"><br>
Descrizione: <input name="desc" type="text"><br>
Servizi: <br><select multiple name="services">
{% for service in services_list %}
<option  value={{service.name}}> {{service.name}}</option>
{% endfor %}
</select><br>
<input type="submit" value="Aggiungi" />
</form>
      
    </div>
    
    
  </div>
</div>
    </div>
  {% endblock %}