{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    
   
    
          <h3>Gestione hosts <a href="{% url 'host_add'  %}"><button class="btn btn-default ">Aggiungi</button></a></h3>
   <div class="avv-sidebar">
   
       {% if host_list %}
       
   <table class="table table-condensed" style="width: 80%">
      
    {% for host in host_list %}
    
      <tr>
       <td><strong>{{host.name}}</strong></td>
         <td><a href="{% url 'host_detail' host.id %}"><button class="btn btn-default ">Visualizza</button></a></td>
        <td><a href="{% url 'host_update' host.id %}"><button class="btn btn-default ">Modifica</button></a></td>
        <td><a href="{% url 'host_delete' host.id %}"><button class="btn btn-default ">Elimina</button></a></td>

      </tr>
      
    {% endfor %}
    </table>
{% else %}
    <p>No hosts are available.</p>
{% endif %}

    </div>
  </div>
  <div class="col-md-7 avv-content">
    
    <div>

{% if message %}<p class="text-danger""><strong>{{ message }}</strong></p>{% endif %}



 </div>     
    </div>
    
    
  </div>
</div>
    </div>
  {% endblock %}