{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    
    <div class="row">
  <div class="col-md-4 avv-sidebar">
     <a href="{% url 'index'  %}" class="btn btn-default  active" role="button">Vai alla home</a>
    <a href="{% url 'servizi_index'  %}" class="btn btn-default active" >Visualizza servizi</a><br>
  <h3>Hosts</h3>
       {% if host_list %}
    <ul class="list-group">
    {% for host in host_list %}
        <li class="list-group-item"><a href="graph/{{ host.id }}/">{{ host.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
  </div>
  <div class="col-md-8 avv-content">
    
    <div>
        <p> Selezionare un host dalla lista per visualizzarne la descrizione</p>
      
    </div>
    
    
  </div>
</div>
    </div>
 {% endblock %}