{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    
    <div class="row">
  <div class="col-md-5 ">
     <ul class="nav nav-pills">
          {% if user.is_authenticated %}
  <li role="presentation" class="active">
     <a href="{% url 'hosts_index'  %}"  >Vedi hosts</a>
  </li>
    <li role="presentation" class="active">
     <a href="{% url 'servizi_index'  %}"  >Vedi servizi</a>
  </li>
    {% endif %}
    {% if user.is_superuser %}
        
      <li role="presentation" class="active">
     <a href="{% url 'host_add'  %}"  >Gestione hosts</a>
  </li>
        <li role="presentation" class="active">
     <a href="{% url 'service_add'  %}"  >Gestione servizi</a>
  </li>
     {% endif %}
</ul>
    <div class="avv-sidebar">
  <h4>Hosts</h4>
       {% if host_list %}
    <ul class="list-group">
    {% for host in host_list %}
        <li class="list-group-item"><a href="graph/{{ host.id }}/">{{ host.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
    </div>
  </div>
  <div class="col-md-7 avv-content">
    
    <div>
        <p> Selezionare un host dalla lista per visualizzarne la descrizione</p>
      
    </div>
    
    
  </div>
</div>
    </div>
 {% endblock %}