{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    <div class="container">
        <div class="page-header ">
        <h1 class="title">Documentazione Avvocatura</h1>
        <h3>Sistema per la documentazione delle dipendenze tra i servizi di Avvocatura</h3>
      </div>
    <div class="row">
  <div class="col-md-4 avv-sidebar" >
  <div class="avv-sidebar">    
    <div class="auth">
            {% if user.is_authenticated %}
              <a href="/avvocatura/logout/">Logout</a><br />
            {% else %}
              <a href="/avvocatura/login/">Login</a><br />
            {% endif %}
    </div>

    <ul>
        <li><a href="hosts">Hosts</a></li>
        <li><a href="servizi">Servizi</a></li>
        {% if user.is_authenticated %}
        <li><a href="/rango/restricted/">Restricted Page</a></li>
        {% endif %}
    </ul>
    </div>
  </div>
  <div class="col-md-8 avv-content">
    
    

    
    
  </div>
</div>
    </div>
 {% endblock %}
 
