{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    
    <div class="row">
  <div class="col-md-4 avv-sidebar" >
  <div class="avv-sidebar">    
    <div class="auth">
            {% if user.is_authenticated %}
              <a href="/avvocatura/logout/">Logout</a><br />
            {% else %}
              <a href="/avvocatura/login/">Login</a><br />
            {% endif %}
    </div>

    <ul>
        <li><a href="{% url 'host_add' %}">Gestione Hosts</a></li>
        <li><a href="{% url 'service_add' %}">Gestione Servizi</a></li>
        
    </ul>
    </div>
  </div>
  <div class="col-md-8 avv-content">
    
    

    
    
  </div>
</div>
    </div>
 {% endblock %}
 
