{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}

    <div class="row">
  <div class="col-md-4 avv-sidebar">
    <a href="{% url 'index'  %}" class="btn btn-default  active" role="button">Vai alla home</a>
    <a href="{% url 'hosts_index'  %}" class="btn btn-default active" >Visualizza hosts</a><br>
    <h3>Servizi</h3>
       {% if services_list %}
    <ul class="list-group">
    {% for service in services_list %}
        <li class="list-group-item"><a href="graph/{{ service.id }}/">{{ service.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}
  </div>
  <div class="col-md-8 avv-content">
    
    <div>
        <p> Selezionare uno dei servizi dalla lista per visualizzarne la descrizione e le dipendenze</p>
      
    </div>
    
    
  </div>
</div>
    </div>
 {% endblock %}