{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}

    <div class="row">
  <div class="col-md-5 ">
    <ul class="nav nav-pills">
          {% if user.is_authenticated %}
  <li role="presentation" class="active">
     <a href="{% url 'hosts_index'  %}"  >Vedi hosts</a>
  </li>
    <li role="presentation" class="active">
     <a href="{% url 'servizi_index'  %}"  >Vedi servizi</a>
  </li>
    {% endif %}
    {% if user.is_superuser %}
        
      <li role="presentation" class="active">
     <a href="{% url 'host_add'  %}"  >Gestione hosts</a>
  </li>
        <li role="presentation" class="active">
     <a href="{% url 'service_add'  %}"  >Gestione servizi</a>
  </li>
     {% endif %}
</ul>
    <h3>Servizi</h3>
     <div class="avv-sidebar">
       {% if services_list %}
    <ul class="list-group">
    {% for service in services_list %}
        <li class="list-group-item"><a href="graph/{{ service.id }}/">{{ service.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}
     </div>
  </div>
  <div class="col-md-7 avv-content">
    
    <div>
        <p> Selezionare uno dei servizi dalla lista per visualizzarne la descrizione e le dipendenze</p>
      
    </div>
    
    
  </div>
</div>
    </div>
 {% endblock %}