{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    <div class="container">
        <div class="page-header">
  <h1>Documentazione Avvocatura: Servizi<br></h1>
</div>

    <div class="row">
  <div class="col-md-4 avv-sidebar">
       {% if service_list %}
    <ul>
    {% for s in service_list %}
      {% if s.name == service.name %}
      <li><a href="/avvocatura/servizi/graph/{{ s.id }}/"><span class="activeItem">{{ s.name }}</span></a></li>
      {% else %}
        <li><a href="/avvocatura/servizi/graph/{{ s.id }}/">{{ s.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}
  </div>
  <div class="col-md-8 avv-content">
    
     <div>
        <strong>Nome: </strong>{{ service.name }}<br>
        <strong>Server: </strong>
        
    {% if host.id == "not present" %}
    {{ host.name }}
    {% else %}
    <a href="/avvocatura/hosts/graph/{{ host.id }}/">{{ host.name }}</a>
    {% endif %}

<br>
        <strong>Descrizione: </strong>{{ service.desc }}<br>
        <strong>Note: </strong>{{ service.note }}<br><br>
<br>

    </div>
    <div class="imageBox">
                    <p>Servizi dipendenti da <strong>{{ service.name }}</strong></p>

       <img src="{% static  filename  %}" alt="My image"/> 
    </div>
        <div class="imageBox">
            <p>Servizi da cui <strong>{{ service.name }}</strong> dipende</p>
            <img src="{% static  filename2  %}" alt="My image"/> 
    </div>
   
    <div><p>
                 <br> <a href="/avvocatura">Torna alla pagina iniziale</a>

    </p>
  
    </div>

  </div>
</div>
    </div>
  {% endblock %}