{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}

    <div class="avv-sidebar">
  <h3>Hosts</h3>
       {% if host_list %}
    <ul class="list-group">
    {% for host in host_list %}
        {% if host.name == server.name %}
      <li class="list-group-item"><a href="{% url 'host_detail' host.id %}"><span class="activeItem">{{ host.name }}</span></a></li>
      {% else %}
        <li class="list-group-item"><a href="{% url 'host_detail' host.id %}">{{ host.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
    </div>
  </div>
  <div class="col-md-7 avv-content">
    
     <div>
        <strong>Nome: </strong>{{ server.name }}<br>
        <strong>IP: </strong>{{ server.IP }}<br>
        <strong>Descrizione: </strong>{{ server.desc }}<br>
        <strong>Note: </strong>{{ server.note }}<br><br>
        <strong>Servizi: </strong>{% for service in service_list %}
        {% if service.id == "not present" %}
    {{ service.name }},
    {% else %}
    <a href="{% url 'service_detail' service.id %}">{{ service.name }}</a>,
    {% endif %}
{% endfor %}<br><br>

    </div>

    <div>
  
    </div>

  </div>
</div>
    </div>
  {% endblock %}