{% extends "avvocatura/base.html" %}
    
      {% load static %}
      {% block col-left %}               
  <div class="col-md-4 ">
    {% endblock col-left%} 
  
    {% block content %}

    <div class="avv-sidebar">
    <h3>Servizi</h3>
 
       {% if service_list %}
    <ul class="list-group">
    {% for s in service_list %}
      {% if s.name == service.name %}
      <li class="list-group-item"><a href="{% url 'service_detail' service.id %}"><span class="activeItem">{{ s.name }}</span></a></li>
      {% else %}
        <li class="list-group-item"><a href="{% url 'service_detail' s.id %}">{{ s.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}
    </div>
  </div>
  <div class="col-md-8">
    
     <div class="avv-content">
        <strong>Nome servizio: </strong>{{ service.name }}<br>
        <strong>Host: </strong>
        
    {% if host.id == "not present" %}
    {{ host.name }}
    {% else %}
    <a href="{% url 'host_detail' host.id %}">{{ host.name }}</a>
    {% endif %}
<br>
        <strong>Tipologia servizio: </strong>{{ service.service_type }}<br>
        <strong>Descrizione: </strong>{{ service.desc }}<br>
        <strong>Url documentazione: </strong><a href="{{ service.documentation_url }}">{{ service.documentation_url }}</a><br>
        <strong>Port: </strong>{{ service.port }}<br>
        <strong>User: </strong>{{ service.user }}<br>
        <strong>Password: </strong><input type="password" id="password" value="{{ service.password }}" disabled>
        <button id="viewPassword">Visualizza</button>
        <button id="hidePassword" style="display:none">Nascondi</button>
        <span id="passhprase_span" style="display:none">
          <form action="javascript:void(0);" style=" display:inline!important;">
          <strong>Inserisci passphrase: </strong>
          <input type="text" id="passphrase" >
          <button id="send_passphrase">OK</button>
          </form>
        </span>
        
        <br>
        <strong>SVN: </strong>{{ service.svn }}<br>
        <strong>Deploy: </strong><br><textarea rows="4" class="formControl code">{{ service.deploy }}</textarea><br>
        <strong>Start: </strong><a href="{{ service.start }}">{{ service.start }}</a><br>
        <strong>Stop: </strong><a href="{{ service.stop }}">{{ service.stop }}</a><br>
<br>
   
    <div class="imageBox">
                    <p>Servizi dipendenti da <strong>{{ service.name }}</strong></p>

       <img src="{% static  filename  %}" alt="My image"/> 
    </div>
        <div class="imageBox">
            <p>Servizi da cui <strong>{{ service.name }}</strong> dipende</p>
            <img src="{% static  filename2  %}" alt="My image"/> 
    </div>
   
  
 </div>
  </div>

  {% endblock %}