{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}


    <div class="row">
  <div class="col-md-4 avv-sidebar">
    <a href="{% url 'index'  %}" class="btn btn-default  active" role="button">Vai alla home</a>
    <a href="{% url 'hosts_index'  %}" class="btn btn-default active" >Visualizza hosts</a><br>
    <h3>Servizi</h3>
 
       {% if service_list %}
    <ul>
    {% for s in service_list %}
      {% if s.name == service.name %}
      <li><a href="{% url 'service_detail' service.id %}"><span class="activeItem">{{ s.name }}</span></a></li>
      {% else %}
        <li><a href="{% url 'service_detail' s.id %}">{{ s.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No services are available.</p>
{% endif %}
  </div>
  <div class="col-md-8 avv-content">
    
     <div>
        <strong>Nome servizio: </strong>{{ service.name }}<br>
        <strong>Host: </strong>
        
    {% if host.id == "not present" %}
    {{ host.name }}
    {% else %}
    <a href="{% url 'host_detail' host.id %}">{{ host.name }}</a>
    {% endif %}

<br>
        <strong>Tipologia servizio: </strong>{{ service.service_type }}<br>
        <strong>Descrizione: </strong>{{ service.desc }}<br>
        <strong>Url documentazione: </strong><a href="{{ service.documentation_url }}">{{ service.documentation_url }}</a><br>
        <strong>Port: </strong>{{ service.port }}<br>
        <strong>User: </strong>{{ service.user }}<br>
        <strong>SVN: </strong>{{ service.svn }}<br>
        <strong>Deploy: </strong><kbd>{{ service.deploy }}</kbd><br>
        <strong>Start: </strong><a href="{{ service.start }}">{{ service.start }}</a><br>
        <strong>Stop: </strong><a href="{{ service.stop }}">{{ service.stop }}</a><br>


<br>

    </div>
    <div class="imageBox">
                    <p>Servizi dipendenti da <strong>{{ service.name }}</strong></p>

       <img src="{% static  filename  %}" alt="My image"/> 
    </div>
        <div class="imageBox">
            <p>Servizi da cui <strong>{{ service.name }}</strong> dipende</p>
            <img src="{% static  filename2  %}" alt="My image"/> 
    </div>
   
    <div>
  
    </div>

  </div>
</div>
    </div>
  {% endblock %}