{% extends "avvocatura/base.html" %}
    
      {% load static %}

    {% block content %}
    <div class="container">
        <div class="page-header">
  <h1>Documentazione Avvocatura: hosts<br></h1>
</div>

    <div class="row">

  <div class="col-md-4 avv-sidebar">
       {% if host_list %}
    <ul>
    {% for host in host_list %}
        {% if host.name == server.name %}
      <li><a href="/avvocatura/hosts/graph/{{ host.id }}/"><span class="activeItem">{{ host.name }}</span></a></li>
      {% else %}
        <li><a href="/avvocatura/hosts/graph/{{ host.id }}/">{{ host.name }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
  </div>
  <div class="col-md-8 avv-content">
    
     <div>
        <strong>Nome: </strong>{{ server.name }}<br>
        <strong>IP: </strong>{{ server.IP }}<br>
        <strong>Descrizione: </strong>{{ server.desc }}<br>
        <strong>Note: </strong>{{ server.note }}<br><br>
        <strong>Servizi: </strong>{% for service in service_list %}
        {% if service.id == "not present" %}
    {{ service.name }},
    {% else %}
    <a href="/avvocatura/servizi/graph/{{ service.id }}/">{{ service.name }}</a>,
    {% endif %}
{% endfor %}<br><br>

    </div>

    <div><p>
    <a href="/avvocatura">Torna alla pagina iniziale</a>
    </p>
  
    </div>

  </div>
</div>
    </div>
  {% endblock %}