<!DOCTYPE html>
      {% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Documentazione Avvocatura</title>

    <!-- Bootstrap -->
    <link href="{% static "avvocatura/bootstrap-3.3.5-dist/css/bootstrap.css" %}"rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
        <div class="page-header">
        <h1 class="title">Documentazione Avvocatura</h1>
      </div>
    <div class="row">
  <div class="col-md-4">
       {% if services_list %}
    <ul>
    {% for host in host_list %}
        <li><a href="{% url 'host_update' host.id %}">{{host.name}}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hosts are available.</p>
{% endif %}
  </div>
  <div class="col-md-8">
    
    <div>
        <h1>Modifica host</h1>

{% if message %}<p><strong>{{ message }}</strong></p>{% endif %}

<form class="form-horizontal" action="{% url 'host_update' host.id %}" method="post">
  {% csrf_token %}
 <div class="form-group">
<label for="name" class="col-sm-2 control-label">Nome</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="name" name="name"  placeholder="Nome host" value="{{host.name}}">
    </div>
<label for="name" class="col-sm-2 control-label">Indirizzo IP</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="ip" name="ip"  placeholder="Indirizzo IP" value="{{host.IP}}">
    </div>
<label for="name" class="col-sm-2 control-label">Descrizione</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="desc" name="desc"  placeholder="Descrizione" value="{{host.desc}}">
    </div>
<label for="name" class="col-sm-2 control-label">Servizi</label>
    <div class="col-sm-10">
      <select multiple name="services">
{% for service in host_services_list %}
<option  value={{service.name}}
{% if service.selected %} selected {% endif %}
> {{service.name}}
</option>
{% endfor %}
      </select>
    </div>

<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Modifica host</button>
    </div>
  </div>
  
</form>
 </div>     
    </div>
    
    
  </div>
</div>
    </div>
 
 

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="avvocatura/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  </body>
</html>