.imageBox{
    border: thin solid;
    margin-top: 5px;
    padding: 5px;
}

.activeItem{
    font-size: larger;
    font-weight: bold;
}

.avv-content{
    background-color: #F2F2F2;
}

.avv-sidebar{
    background-color: #CCCCCC;
}