.navbar-brand>img {
  padding: 0px ;
}
.imageBox{
    border: thin solid;
    margin-top: 5px;
    padding: 5px;
}

.activeItem{
    font-size: larger;
    font-weight: bold;
    background-color: rgb(51, 122, 183);
    color: white;
    padding:5px;
}

.avv-content{
    background-color: #F2F2F2;
}

.avv-sidebar{
    /*background-color: #CCCCCC;*/
    overflow: auto;
    max-height: 500px;
}

.avv-sidebar-servizi{
    /*background-color: #CCCCCC;*/
    overflow: auto;
    max-height: 700px;
}

.auth{
    float: right;
    /*text-decoration: underline;*/
    padding:3px;
    margin:3px;
    font-weight:bold;
    /*background-color: #CCCCCC;*/
}

.menu{
    
    /*text-decoration: underline;*/
    padding:3px;
    margin:3px;
    font-weight:bold;
}

.menu a {
    text-decoration:none;
}

.white{
    background-color: #FFFFFF;
}